:root{
    --color1: #46617b;
    --color2: #f38ab2;
    --color3: #0a2540;
    --color4: #a3b0bd;

    --space: 10rem;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
}

body{
    font-family: "Inter", sans-serif;
    line-height: 1;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1.5rem;
    line-height: 1.3;
    background-color: #fefefe;
}
.space_top{
    padding-top: var(--space);
}
.space_bottom{
    padding-bottom: var(--space);
}
.space{
    padding: var(--space) 0;
}
::-webkit-scrollbar-thumb {
    border-radius: 7.1428571429rem;
    background: #f38ab2;
}
.btn-primary {
  background: var(--color2);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border: var(--color2) solid 1px;
  border-radius: 50px;
  padding: 8px 25px;
  transition: all .2s ease;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-primary::before{
    content: '';
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color1);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50px;
    transition: all .2s ease;
    visibility: hidden;
    z-index: -1;
}

.btn-primary:hover {
  background-color: var(--color2);
  border: var(--color1) solid 1px;
}
.btn-primary:hover::before{
    transition: all .2s ease;
    width: 100%;
    height: 100%;
    visibility: visible;
    bottom: 0px;
}

.btn-primary i {
  position: relative;
  right: 0;
  transition: all .5s ease;
}

.btn-primary:hover i {
  right: -3px;
}
.container{
    max-width: 1050px;
}
.hidden{
    visibility: hidden;
    opacity: 0;
}
/* Navbar */
.site_header{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 15px;
    z-index: 111;
}
.navbar-nav{
    border-radius: .8571428571rem;
    border: 2px solid #ffcaca;
    background: #fff;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    display: flex;
    align-items: center;
    gap: .6428571429rem;
    padding: 1rem 1.5rem;
    overflow: hidden;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--color1);
    font-size: 1.3rem;
    font-weight: 600;
}
.navbar-expand-lg .container-fluid{
    padding-left: 3rem;
    padding-right: 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    color: var(--color2);
}

.about {
    position: relative;
    padding: 18rem 0;
    background:linear-gradient(180deg,#faf5ff,#fff3f3 77.67%,#fefefe) no-repeat bottom;
}
.tag{
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 650;
    padding-bottom: 1rem;
}
.about h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
}
.about .content p{
    font-size: 1.6rem;
    font-weight: 450;
    color: var(--color4);
    color: #7a8c9f;
    padding-right: 30%;
    padding-bottom: 2.5rem;
    line-height: 1.3;
    letter-spacing: -.32px;
}
.about-arrow{
    top: 0rem;
    width: 1rem;
    height: 20rem;
    position: absolute;
}

.about .right{
    position: relative;
    width: 100%;
}
.about .box1{
    position: absolute;
    top: -3rem;
    left: -3rem;
    width: 22.5rem;
    height: 22.5rem;
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
    border-radius: 2.5rem;
}
.about .copy1{
    background-color: #ffccd7;
    border-radius: 2.5rem;
    height: 23.5rem;
    width: 23.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 2rem 3rem 3rem;
}
.about .copy1 h3{
    font-size: 6rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy1 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy1 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .box2{
    position: absolute;
    bottom: -3rem;
    right: -3rem;
    height: 13.5rem;
    width: 20.5rem;
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
    border-radius: 2.5rem;
}
.about .copy2{
    background: #cbc5e1;
    border-radius: 2.5rem;
    height: 13rem;
    width: 20rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 1rem 2rem 2rem;
}
.about .copy2 h3{
    font-size: 3rem;
    font-weight: 700;
    color: var(--color3);
    letter-spacing: -.02em;
}
.about .copy2 h3 small{
    font-weight: 500;
    font-size: 2rem;
}
.about .copy2 p{
    color: var(--color3);
    font-weight: normal;
    font-size: 1.3rem;
}
.about .copy2 svg{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    /* scale: 1.2; */
}

/* about-section */
.about-section h2{
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    font-weight: 800;
    color: var(--color3);
}

.about-section p{
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 4rem;
    
    color: var(--color4);
    font-weight: 300;
    text-align: center;
}
.about-section p:last-child{
    margin-bottom: 0px;
}


.image-wrapper {
  width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.image-wrapper .photo {
  width: 60%;
  border-radius: 12px;
   z-index: 1;
}

.vision{
    /* background: url('/images/desktopLRBG.svg') left top no-repeat; */
    background:linear-gradient(180deg,#faf5ff,#fff3f3 77.67%,#fefefe) no-repeat bottom;
    background-size: cover;
    padding: 15rem 0;
}
.vision .card{
    border: 0px;
    padding: 3rem;
    border-radius: 16px;
    /* border: 1px solid #ffcaca; */
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
    text-align: center;
    position: relative;
    height: 100%;
}
.vision .card.two{
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
}
.vision .card img{
    border: 1px solid #ffccd7;
    border-bottom-width: 5px;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    padding: 2.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
}
.vision .card.two img{
    border: 1px solid #cbc5e1;
    border-bottom-width: 5px;
}
.vision .card h3{
    color: #0a2540;
    font-size: 3rem;
    font-weight: 300;
    line-height: 140%;
}
.vision .card p{
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color1);
}
.vision .card ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
    line-height: 1.4;
    color: var(--color1);
}

.services .title{
    position: sticky;
    top: 15rem;
    left: 0px;
}
.services .title .tag{
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 300;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    padding-left: 7rem;
    position: relative;
}
.services .title .tag::before{
    content: '';
    position: absolute;
    left: 0px;
    top: 1.2rem;
    width: 5rem;
    height: 2px;
    background: linear-gradient(180deg, #f38ab2, #f54c7a 85.78%);
}
.services .title h2{
    font-weight: 500;
    color: var(--color3);
    font-size: 5.5rem;
    text-wrap: balance;
    color: var(--color4);
}
.services .title h2 .char {
  display: inline-block;
}
.services .title h2 .word {
  display: inline-block; /* keeps words together */
  white-space: nowrap;   /* word can wrap as a unit */
}
@media only screen and (min-width: 1200px) {
    .services .title{
        padding-right: 1rem;
    }
}

.services .card{
    border: 0px;
    margin-bottom: 4rem;
}
.services .card:last-child{
    margin-bottom: 0px;
}
.services .card img{
    border-radius: 2rem;
}
.services .card .content{
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.services .card h3{
    color: var(--color3);
    flex-basis: 70%;
}

.choose{
    position: relative;
}
.choose .container{
    display: grid;
}
.choose .title{
    position: sticky;
    top: 10rem;
}
.choose .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
    text-align: center;
}
.choose .card{
    border: 0px;
    background: linear-gradient(314deg, #fcf4fa 4.9%, #cbc5e1 97.99%);
    border-radius: 2.5rem;
    min-height: 30rem;
    margin-bottom: 3rem;
    position: sticky;
    top:0rem;
    padding: 3rem 5rem 5rem 5rem;
    border-top: #fff solid 2px;
}
.choose .card img{
    position: absolute;
    right: 0px;
    top: 3rem;
    z-index: -1;
    opacity: .2;
}
.choose .card:nth-child(2){
    top: 20rem;
}
.choose .card:nth-child(3){
    top: 29rem;
}
.choose .card:nth-child(4){
    top: 38rem;
}
.choose .card:nth-child(5){
    top: 47rem;
}
.choose .card:nth-child(6){
    top: 56rem;
}

.choose .card:nth-child(odd){
    background: linear-gradient(313deg, rgb(255, 204, 215) -7.58%, rgb(252, 244, 250) 98.03%);
}
.choose .card h3{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-weight: 300;
}
.choose .card p{
    font-size: 1.8rem;
    line-height: 1.4;
    padding-right: 20rem;
    font-weight: 300;
}
/* Faq */
.faq{
    background: url('/images/desktopLRBG.svg') top left no-repeat;
    background-size: cover;
}
.faq .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    padding: 2.5rem 0;
    text-align: center;
}
.accordion-item{
    border-bottom: 0px;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
}
.accordion-header{
    font-weight: 300;
    border-radius: 5px;
}
.accordion-button{
    font-size: 2rem;
    background-color: #fabbd3;
    color: var(--color3);
    font-weight: 300;
    padding: 2rem 3rem;
    border-radius: 5px!important;
}
.accordion-button:hover{
    background-color: var(--color2);
}
.accordion-button::after{
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%2346617b' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
    color: var(--color3);
    background-color: #fabbd3;
    box-shadow: inherit;
}
.accordion-body{
    padding: 2rem 3rem;
    font-size: 1.6rem;
}

/* testimonials */
.testimonial .title h2{
    font-size: 4rem;
    font-weight: bold;
    color: var(--color3);
    text-align: center;
}
.testimonial .swiper-wrapper{
    padding: 10rem 0;
}
.swiper-button-next:after, .swiper-button-prev:after{
    font-size: 2rem;
    color: #fff;
}
.swiper-button-next, .swiper-button-prev{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: var(--color4);
}
.testimonial .swiper-slide{
    display: flex;
    justify-content: center;
}
.testi{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: var(--color4); */
    border-radius: 2rem;
    position: relative;
    min-height: 35rem;
    max-width: 70rem;
    margin-top: 7rem;
    
}
.testi i{
    font-size: 40rem;
    position: absolute;
    color: #f2f2f2;
    z-index: -1;
    transform: rotate(13deg);
}
.testi img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -7rem;
}
.testi .copy{
    font-size: 3rem;
    text-align: center;
    font-weight: 300;
    margin-bottom: 3rem;
}
.testi .name{
    color: var(--color3);
    font-size: 3.5rem;
    font-weight: 300;
}

/* footer */
.site_footer{
    background: linear-gradient(180deg, #fefefe, #fff3f3 50%, #faf5ff);
    padding: 6rem 0 3rem;
    font-size: 1.4rem;
}
.site_footer .legal{
    text-align: center;
    border-top: #f5e7ec solid 1px;
    padding-top: 2rem;
    color: var(--color1);
    margin-top: 5rem;
}
.site_footer .quick_link{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .f-logo{
    margin-bottom: 3rem;
}
.site_footer p{
    font-size: 1.2rem;
    color: var(--color1);
    font-weight: 500;
}
.site_footer h4{
    color: #000;
    margin-bottom: 1.5rem;
}
.site_footer .quick_link li{
    margin-bottom: 1rem;
}
.site_footer .quick_link a{
    text-decoration: none;
    color: var(--color3);
    font-weight: 500;
}
.site_footer .contact{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.site_footer .contact li{
    margin-bottom: 1rem;
    color: var(--color1);
}
.site_footer .contact li span{
    color: var(--color1);
    font-weight: 500;
}
.site_footer .contact li a{
    color: var(--color3);
    text-decoration: none;
}
.site_footer .social{
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    color: var(--);
}
.site_footer .social li a{
    color: var(--color4);
    font-size: 2.5rem;
}

.site_footer a{
    transition: all .3s ease;
}
.site_footer a:hover, .site_footer .social li a:hover, .site_footer .contact li a:hover{
    color: var(--color2);
}